header {
    width: 100%;
    height: 90px;
    background-color: #232a35;
}

select.custom-select {
    background: white;
    min-width: 50px;
    text-align: center;
}

button.btn.btn-elegant {
    color: white;
    background: #f84545;
    margin-left: 10px;
}

body.basket, body.thankyou {
    background: #eeeeee;;
}

main.order img {
    width: 50%;
}

main.products h5 {
    font-weight: bold;
}

main.products img {
    padding: 0 10% 0 10%;
}

.centerHorizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centerHorizontalStart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.centerHorizontalBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.sCard {
    background: white;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

img, form {
    width: 100%;
}

input {
    max-width: 800px;
}

.basketItem {
    margin-bottom: 25px;
}

.basketSummary {
    margin-left: 15px;
    margin-bottom: 25px;
}

.features {
    margin-left: 25px;
}

.logo {
    width: 120px;
}

.large {
    width: 90%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.price {
    color: #6c6969;
}

h1, h2, h3, h4 {
    text-align: center;
}

pre, code {
    max-width: 100%;
    overflow-x: scroll;
}

#events {
    width: 100%;
}

.link {
    color: darkblue;
    text-decoration: underline;
}

p, li {
    line-height: 1.4em;
    font-size: 1em;
}
