on:
  push:
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]

name: github release pipeline

jobs:
  build:
    name: Release Repo Job
    runs-on: ubuntu-latest
    steps:
      - name: echo ref
        run: |
          echo "Ref ${{ github.ref }}"
          echo "Ref ${{ github }}"
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.USER_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          name: release ${{ github.ref }}
          body: automatically created release
          draft: false
          prerelease: false