name: master branch pipeline

on:
  push:
    branches: [ 'master' ]

jobs:
  git-tag:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: toarm/action-autotag@1.1.5
        with:
          GITHUB_TOKEN: ${{ secrets.USER_TOKEN }}

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: npm install
        run: |
          npm ci --silent
      - name: npm build
        run: |
          npm run build --silent
      - name: npm test
        run: |
          npm test